@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Add A New Stylist</h1>
<hr>

@if (ViewBag.Stylists.Count == 0)
{
  <p>Oops! there are currently no stylists in the program!</p>
  <p>You must have at least one stylist before a client can be added.</p>
  <p>@Html.ActionLink("Would you like to add a stylist?", "Create", "Stylists")</p>
} 
else
{
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.DateOfFirstApp)
    @Html.TextBoxFor(model => model.DateOfFirstApp, new { @type = "date" })

    @Html.LabelFor(model => model.Gender)
    @Html.TextBoxFor(model => model.Gender)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add A New Client">
  }
} 


<p>@Html.ActionLink("Show All Clients", "Index")</p>
<p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>