@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Date Of First Appointment: @Html.DisplayFor(model => model.DateOfFirstApp)</h3>
<h3>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</h3>


<ul>
@if (@Model.Clients.Count == 0)
{
  <p>No Clients Found</p>
}


@foreach (Client client in @Model.Clients)
{
  <li>Name: @client.Name</li>
  <li>Date Of First Appointment: @client.DateOfFirstApp</li>
  <li>Gender @client.Gender</li>
  <li></li>
}
</ul>


<p>@Html.ActionLink("Back to Stylists", "Index")</p>
<p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>